# Compiled Python files
*.pyc

# Python cache
**/__pycache__/

# Environment variables
.env

# IDE files
.vscode/
.idea/

# Dependency directories
venv/
node_modules/

# Database files
**/db.sqlite3

# Compiled files
.hintrc
.DS_Store